.grid-3x3 .Tile {
  width: 10em;
  height: 10em;
  line-height: 10em; }

.Tile {
  display: inline-block;
  text-align: center;
  box-shadow: 1px 1px 10px #b5b5b5;
  cursor: pointer; }
  .Tile:hover {
    background: #c6c6c6; }
